body {
  text-align: center;
  color: rgb(214, 214, 214);
}
.detailImg,
.homepageImg {
  width: 100%;
}
#obligatory {
  font-size: 50%;
}
#spinner {
  margin-inline: auto;
  margin-top: 20%;
}
.custom {
  font-size: 500%;
}
