body {
  background-color: black;
  text-align: center;
  color: rgb(214, 214, 214);
}
.detailImg {
  width: 100%;
}
#obligatory {
  font-size: 50%;
}
#spinner {
  margin-inline: auto;
  margin-top: 20%;
}
